# IDE
.idea

# Dependencies
node_modules

# Build
dist

# OpenSSL temp folder
openssl

# Debugging related
src/test.ts
cert_debug.xml
keys
certtestresponse.xml
test.xml
test_example.xml
test2.xml
test3.xml
test_response.xml
test_response_original.xml
sepa_response_test.xml
xp_response.xml
